{{#section 'head'}}
    <link rel="stylesheet" href="/css/breakfast.css">
    <link rel="stylesheet" href="/css/categoryCards.css">
{{/section}}

<script>
    document.querySelector("meta[name='theme-color']").setAttribute("content", "#D5EDFF");
    document.querySelector("title").appendChild(document.createTextNode("Breakfast"));
</script>

<div>
    <div id="headerColorFill"></div>
    <div id="headerBackdrop">
        <div>
            <svg viewBox="0 0 1440 557" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M911.583 501.5C1154 588.5 1311.5 558.29 1440 501.5V0H0V439.709C166.026 488.617 190.695 478.919 344.097 439.709C497.5 400.5 617.654 396.013 911.583 501.5Z" fill="#D5EDFF"/>
            </svg>

            <div id="headingContent">
                <h1 id="headerTitle">Breakfast</h1>
                <img src="/images/categoryContent/breakfast/headerPlate.webp" alt="Bowl of yogurt, oatmeal and fruits with a wooden spoon on the side.">
            </div>
        </div>
    </div>

        {{#if error}}
        <div id="errorBox">
            <h1>{{error}}</h1>
        </div>
        {{else}}

    <div id="cardSpace">
        {{#each recipe}}
        <div class="recipeCard">
            <a href="/recipe/{{_id}}">
                <div class="cardContent">
                    <div class="cardSection imageSection">
                        <div style="background-image: url('/images/recipeImages/{{image.imageFile}}');"></div>
                    </div>
                    <div class="cardSection">
                        <div class="cardTextSection">
                            <div class="cardHeading">
                                <h1>{{recipeName}}</h1>
                            </div>
                            <div class="cardBody">
                                <p>{{ingredientCount}} {{#if oneIngredient}}Ingredient{{else}}Ingredients{{/if}}</p>
                                <p>{{directionCount}} {{#if oneDirection}}Step{{else}}Steps{{/if}}</p>
                            </div>
                            <div class="cardFooter">
                                <p>{{createdBy.firstName}} {{createdBy.lastName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>