<link rel="stylesheet" href="/css/createRecipe.css">
<link rel="stylesheet" href="/css/editRecipe.css">
<script type='application/javascript' src='/js/createRecipe.js' defer></script>

<script>
    document.querySelector("title").appendChild(document.createTextNode("Edit Recipe"));
</script>

<div id="card">
    <div id="content">
        <div style="margin-bottom: 40px">
            <h1 id="heading">Edit Recipe</h1>
        </div>
        {{#if error}}
        <div id="errorBox">
            <h2>{{error}}</h2>
        </div>
        {{/if}}

        <form id="createRecipeForm" action="/user/editrecipe/{{recipe._id}}" method="POST" enctype="multipart/form-data">
            <input value="{{recipe._id}}" name="_id" type="hidden">
            <input value="{{recipe.image.imageFile}}" name="oldImageFile" type="hidden">


            <fieldset class="createRecipeFieldset">
                <div>
                    <div class="inputHeader">
                        <label for="recipeName" class="visibleLabel">Recipe Name</label>
                        <div class="charCountContainer"><span id="nameCounter"></span><span>/40</span></div>
                    </div>
                    <input value="{{recipe.recipeName}}" enterkeyhint="next" type="text" name="recipeName" id="recipeName" class="inputField" placeholder="e.g. Skillet-Roasted Chicken Afritada" autocomplete="off" maxlength="40"required>
                </div>
                
                <div>
                    <label for="servingSize" class="visibleLabel">Serving Size</label>
                    <input value="{{recipe.servingSize}}" enterkeyhint="next" type="number" name="servingSize" id="servingSize" class="inputField" placeholder="e.g. 4" autocomplete="off" required>
                </div>
            </fieldset>

            <fieldset class="createRecipeFieldset">
                <div style="width: 100%;"> 
                    <label for="recipeCategory" class="visibleLabel">Recipe Category</label>
                    <select name="recipeCategory" id="recipeCategory" required>
                        <option value="breakfast" {{#equal recipe.recipeCategory "breakfast"}}selected{{/equal}}>Breakfast</option>
                        <option value="appetizer" {{#equal recipe.recipeCategory "appetizer"}}selected{{/equal}}>Appetizer</option>
                        <option value="main" {{#equal recipe.recipeCategory "main"}}selected{{/equal}}>Main</option>
                        <option value="soup" {{#equal recipe.recipeCategory "soup"}}selected{{/equal}}>Soup</option>
                        <option value="dessert" {{#equal recipe.recipeCategory "dessert"}}selected{{/equal}}>Dessert</option>
                    </select>
                </div>
            </fieldset>

            <hr class="divider">
            <div class="section">
                <h2>Ingredients</h2>
            </div>
            <div class="createRecipeFieldset ingredientsFieldset">
                {{#each recipe.ingredients}}
                <div class="ingredientContainer">
                    <i tabindex="0" class="fas fa-times removeIngredient"></i>
                    <label for="ingredients" hidden>Ingredient</label>
                    <input value="{{this}}" enterkeyhint="next" type="text" name="ingredients[]" id="ingredients" class="inputField" placeholder="e.g. 3 Tbsp. sweet paprika" autocomplete="off" required>
                </div>
                {{/each}}
                <button type="button" id="addIngredient"><i class="fas fa-plus"></i></button>
            </div>

            <hr class="divider">
            <div class="section">
                <h2>Directions</h2>
            </div>
            <div class="createRecipeFieldset directionsFieldset">
                {{#each recipe.directions}}
                <div class="directionContainer">
                    <i tabindex="0" class="fas fa-times removeDirection"></i>
                    <label for="directions" hidden>Direction</label>
                    <input value="{{this}}" enterkeyhint="next" type="text" name="directions[]" id="directions" class="inputField" placeholder="e.g. Marinate chicken breasts for 3 hours" autocomplete="off" required>
                </div>
                {{/each}}
                <button type="button" id="addDirection" enterkeyhint="done"><i class="fas fa-plus"></i></button>
            </div>

            <hr class="divider">
            <div class="section">
                <h2>Image</h2>
                <p>Accepted file types: png, jpeg, jpg, heic, heif, webp</p>
                <p>Max upload size: 10mb</p>
                <div id="imageTemplate">
                    <div>
                        <h3>Your current recipe photo:</h3>
                    </div>
                    <img src="/images/recipeImages/{{recipe.image.imageFile}}" alt="{{recipe.image.imageAlt}}">
                </div>
            </div>
            <fieldset class="createRecipeFieldset">
                <label for="imageFile" id="imageFileLabel">Upload a New Photo</label>
                <input type="file" name="imageFile" id="imageFile" accept="image/*">
            </fieldset>
            <p id="filePath">File Selected: <span></span></p>
            <fieldset class="createRecipeFieldset">
                <div style="width: 100%;">
                    <label class="visibleLabel" for="imageAlt">Image Description (Screen reader purposes)</label>
                    <input value="{{recipe.image.imageAlt}}" enterkeyhint="next" name="imageAlt" class="inputField" id="imageAlt" type="text" placeholder="e.g. Image of a yogurt bowl with blueberries and granola" autocomplete="off">
                </div>
            </fieldset>
            

            <hr class="divider">
            <div class="section">
                <h2>Comments / Notes</h2>
            </div>
            <fieldset class="createRecipeFieldset">
                <label for="notes" hidden>Recipe Comments/Notes</label>
                <textarea name="notes" id="notes" autocomplete="off" placeholder="Add special comments, notes or instructions here">{{recipe.notes}}</textarea>
            </fieldset>

            <hr class="divider">
            <fieldset class="createRecipeFieldset" id="finishButtons">
                <div>
                    <button type="button" id="cancelButton"><a href="/user/myrecipes">Cancel</a></button>
                </div>
                <div>
                    <button type="submit" id="updateButton"/>Update</button>
                </div>
            </fieldset>
            <div style="border: 2px solid red; margin-top: 80px; padding: 15px; border-radius: 10px;">
                <div class="section" style="margin-top: 0px">
                    <h2>Delete Recipe?</h2>
                    <p style="color: red;"><strong style="text-decoration: underline;">Warning</strong>: You will not be able to undo this action. There will be no confirmation to continue.</p>
                </div>
                <fieldset class="createRecipeFieldset">
                    <div>
                        <button type="button" id="cancelButton"><a href="/user/deleterecipe/{{recipe._id}}">DELETE RECIPE</a></button>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>