<link rel="stylesheet" href="/css/landing.css">

<script>
    document.querySelector("title").appendChild(document.createTextNode("Home"));
</script>
{{#if error}}
<div id="errorBox">
    <h1>{{error}}</h1>
</div>
{{else}}
<section>
    <div id="landing-heading">
        <h1>Recently Added</h1>
    </div>
    <div id="recently-added">
        {{#each recipe}}
        <div class="flex-space">
            <a href="/recipe/{{_id}}">
                <div class="recently-added-card">
                    <div class="imageBox">
                        <div style="background-image: url('images/recipeImages/{{image.imageFile}}');"></div>
                    </div>
                    <div class="landing-card-content">
                        <div class="landing-card-header">
                            <h1>{{recipeName}}</h1>
                        </div>
                        <div class="landing-card-body">
                            <p>{{ingredientCount}} {{#if oneIngredient}}Ingredient{{else}}Ingredients{{/if}}</p>
                            <p>{{directionCount}} {{#if oneDirection}}Step{{else}}Steps{{/if}}</p>
                        </div>
                        <div class="landing-card-footer">
                            <p>{{createdBy.firstName}} {{createdBy.lastName}}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}

    </div>
</section>

<div id="background-blobs">
    <svg id="left-blob" width="408" height="846" viewBox="0 0 408 846" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M334 151.119C288 -24.8808 90.1667 -11.5474 -3 17.1192V787.119C-3 797.453 11.4 822.919 69 842.119C141 866.119 202.5 770.119 334 583.619C465.5 397.119 391.5 371.119 334 151.119Z" fill="#fcead7"/>
    </svg>
    <svg id="right-blob" width="410" height="846" viewBox="0 0 410 846" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M73.4124 694.63C119.412 870.63 317.246 857.297 410.412 828.63V58.63C410.412 48.2967 396.012 22.83 338.412 3.63C266.412 -20.37 204.912 75.63 73.4124 262.13C-58.0876 448.63 15.9124 474.63 73.4124 694.63Z" fill="#fcead7"/>
    </svg>
</div>

{{!-- <div id="additional-blobs">
    <svg id="left-blob" width="408" height="846" viewBox="0 0 408 846" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M334 151.119C288 -24.8808 90.1667 -11.5474 -3 17.1192V787.119C-3 797.453 11.4 822.919 69 842.119C141 866.119 202.5 770.119 334 583.619C465.5 397.119 391.5 371.119 334 151.119Z" fill="#fcead7"/>
    </svg>
    <svg id="right-blob" width="410" height="846" viewBox="0 0 410 846" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M73.4124 694.63C119.412 870.63 317.246 857.297 410.412 828.63V58.63C410.412 48.2967 396.012 22.83 338.412 3.63C266.412 -20.37 204.912 75.63 73.4124 262.13C-58.0876 448.63 15.9124 474.63 73.4124 694.63Z" fill="#fcead7"/>
    </svg>
</div> --}}

<footer>
    <p>Designed and Created by Max Ratajczak</p>
</footer>
{{/if}}