<link rel="stylesheet" href="/css/register.css">

<script>
    document.querySelector("title").appendChild(document.createTextNode("Register"));

    $(document).on("click", "#errorCloseButton", function() {
        $(this).closest("#errorBox").remove();
    })
</script>

<div id="page-content">
    <div>
        <div id="card">
            <div id="card-content">
                {{#if success}}
                <div id="successBox">
                    <h1 id="heading">Registration Successful</h1>
                    <a id="proceedToLogin" href="/user/login">Proceed to Login</a>
                </div>
                {{else}}
                <h1 id="heading">Create Account</h1>
                {{#if error}}
                <div id="errorBox">
                    <p>{{error}}</p>
                    <button id="errorCloseButton"><i class="fas fa-times"></i></button>
                </div>
                {{/if}}
                <form action="/user/register" method="POST" id="registerForm">

                    <fieldset class="registerFieldset">
                        <label for="firstName" hidden>First Name</label>
                        {{#if lastInput}}
                        <input type="text" name="firstName" id="firstName" class="registerInput" placeholder="First Name" autocomplete="off" value="{{lastInput.firstName}}" required>
                        {{else}}
                        <input type="text" name="firstName" id="firstName" class="registerInput" placeholder="First Name" autocomplete="off" required>
                        {{/if}}
                    </fieldset>

                    <fieldset class="registerFieldset">
                        <label for="lastName" hidden>Last Name</label>
                        {{#if lastInput}}
                        <input type="text" name="lastName" id="lastName" class="registerInput" placeholder="Last Name" autocomplete="off" value="{{lastInput.lastName}}" required>
                        {{else}}
                        <input type="text" name="lastName" id="lastName" class="registerInput" placeholder="Last Name" autocomplete="off" required>
                        {{/if}}
                    </fieldset>

                    <fieldset class="registerFieldset">
                        <label for="email" hidden>Email</label>
                        {{#if lastInput}}
                        <input type="email" name="email" id="email" class="registerInput" placeholder="Email" value="{{lastInput.email}}" required>
                        {{else}}
                        <input type="email" name="email" id="email" class="registerInput" placeholder="Email" required>
                        {{/if}}
                    </fieldset>

                    <fieldset class="registerFieldset">
                        <label for="password1" hidden>Password</label>
                        <input type="password" name="password1" id="password1" class="registerInput" placeholder="Password" minlength="5" required>
                    </fieldset>

                    <fieldset class="registerFieldset">
                        <label for="password2" hidden>Confirm Password</label>
                        <input type="password" name="password2" id="password2" class="registerInput" placeholder="Confirm Password" minlength="5" required>
                    </fieldset>

                    <div id="passwordRequirements">
                        <p>Note: Password must be 5 or more characters in length</p>
                    </div>

                    <button type="submit" id="registerButton">Register</button>

                    <div id="registerFooter">
                        <p>Already have an account? <span><a href="/user/login">Login</a></span></p>
                    </div>
                </form>
                {{/if}}
            </div>
        </div>
        <div id="card-background"></div>
    </div>
</div>