<link rel="stylesheet" href="/css/categoryCards.css">
<link rel="stylesheet" href="/css/searchResults.css">

<span class="query" hidden>{{query}}</span>

<script>
    var query = document.querySelector(".query").textContent;
    document.querySelector("title").appendChild(document.createTextNode(`Search Results for "${query}"`));
</script>

<div>
    {{#if error}}
    <div id="errorBox">
        <h1>{{error}}</h1>
    </div>

    {{else}}
    <div id="noticeBox">
        <h1>Search results for "{{query}}"</h1>
    </div>
    {{#if recipe1}}
    <div id="cardSpaceOne">
            <div class="recipeCard">
                <a href="/recipe/{{recipe1._id}}">
                    <div class="cardContent">
                        <div class="cardSection imageSection">
                            <div style="background-image: url('/images/recipeImages/{{recipe1.image.imageFile}}');"></div>
                        </div>
                        <div class="cardSection">
                            <div class="cardTextSection">
                                <div class="cardHeading">
                                    <h1>{{recipe1.recipeName}}</h1>
                                </div>
                                <div class="cardBody">
                                    <p>{{recipe1.ingredientCount}} {{#if recipe1.oneIngredient}}Ingredient{{else}}Ingredients{{/if}}</p>
                                    <p>{{recipe1.directionCount}} {{#if recipe1.oneDirection}}Step{{else}}Steps{{/if}}</p>
                                </div>
                                <div class="cardFooter">
                                    <p>{{recipe1.createdBy.firstName}} {{recipe1.createdBy.lastName}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
    </div>
    {{else}}
    <div id="cardSpace">
        {{#each recipe}}
            <div class="recipeCard">
                <a href="/recipe/{{_id}}">
                    <div class="cardContent">
                        <div class="cardSection imageSection">
                            <div style="background-image: url('/images/recipeImages/{{image.imageFile}}');"></div>
                        </div>
                        <div class="cardSection">
                            <div class="cardTextSection">
                                <div class="cardHeading">
                                    <h1>{{recipeName}}</h1>
                                </div>
                                <div class="cardBody">
                                    <p>{{ingredientCount}} {{#if oneIngredient}}Ingredient{{else}}Ingredients{{/if}}</p>
                                    <p>{{directionCount}} {{#if oneDirection}}Step{{else}}Steps{{/if}}</p>
                                </div>
                                <div class="cardFooter">
                                    <p>{{createdBy.firstName}} {{createdBy.lastName}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
    {{/if}}
    {{/if}}
</div>
