{{#section 'head'}}
    <link rel="stylesheet" href="/css/soups.css">
    <link rel="stylesheet" href="/css/categoryCards.css">
{{/section}}

<script>
    document.querySelector("meta[name='theme-color']").setAttribute("content", "#FAC7AB");
    document.querySelector("title").appendChild(document.createTextNode("Soups"));

    imgPreload = new Image();
    imgPreload.src = "/images/categoryContent/soups/headerPlate.webp";
</script>

<div>
    <div id="headerColorFill"></div>
    <div id="headerBackdrop">
        <div>
            <svg viewBox="0 0 1439 610" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M528.417 501.5C304.583 636.177 128.5 627.5 0 570.71V0H1440V368.5C1327.5 480 1223.5 457.5 1095.9 439.709C968.305 421.919 796 340.5 528.417 501.5Z" fill="#FAC7AB"/>
            </svg>

            <div id="headingContent">
                <h1 id="headerTitle">Soups</h1>
                <div class="headerImage" style="background-image: url(/images/categoryContent/soups/headerPlate.webp);"></div>
                {{!-- <img src="/images/categoryContent/soups/headerPlate.webp" alt="Bowl of tomato soup."> --}}
            </div>
        </div>
    </div>

        {{#if error}}
        <div id="errorBox">
            <h1>{{error}}</h1>
        </div>
        {{else}}

    <div id="cardSpace">
        {{#each recipe}}
        <div class="recipeCard">
            <a href="/recipe/{{_id}}">
                <div class="cardContent">
                    <div class="cardSection imageSection">
                        <div style="background-image: url('/images/recipeImages/{{image.imageFile}}');"></div>
                    </div>
                    <div class="cardSection">
                        <div class="cardTextSection">
                            <div class="cardHeading">
                                <h1>{{recipeName}}</h1>
                            </div>
                            <div class="cardBody">
                                <p>{{ingredientCount}} {{#if oneIngredient}}Ingredient{{else}}Ingredients{{/if}}</p>
                                <p>{{directionCount}} {{#if oneDirection}}Step{{else}}Steps{{/if}}</p>
                            </div>
                            <div class="cardFooter">
                                <p>{{createdBy.firstName}} {{createdBy.lastName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>